extends layout

block content
  #shelf
    each book in books
      .item
        .book-thumb
          a(href="/book/"+book._id)
            img(src="#{book.thumbnail}")
        p
          a(href="/book/"+book._id)= book.name
